@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}

.app-container{
    font-family: 'Roboto';
    margin: 30px auto;
    width: 30%;
    color: white;
    text-align: center;
}

body {
    background-color: #20232A;
}

input {
    display: block;
    margin: 0 auto;
}

.logo {
    margin-top: 10px;
    width: 70px;
    height: 50px;
}

h1 {
    color:#61DAFA;
}